html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f6f9fa;
}

nav {
  height: 60px;
  padding: 0 20px;
  background: white;
  border-bottom: 2px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  font-size: 26px;
  font-weight: bold;
}
nav .user {
  font-size: 18px;
}

main {
  padding: 40px;

  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table,
th,
td {
  border: 2px solid #d6dce1;
}

table th,
td {
  padding: 5px;
}

tr th:nth-child(1),
td:nth-child(1) {
  width: 40%;
}
tr th:nth-child(2),
td:nth-child(2) {
  width: 25%;
}
tr th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}
tr th:nth-child(4),
td:nth-child(4) {
  width: 15%;
}

input {
  border-radius: 4px;
  border: 2px solid #d6dce1;
  height: 32px;
  padding: 0 8px;
}

select {
  border-radius: 4px;
  border: 2px solid #d6dce1;
  padding: 0 8px;
}

dialog {
  width: 300px;
  border: 2px solid #d6dce1;
  border-radius: 4px;
}

dialog form header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

dialog form header .title {
  font-size: 24px;
  font-weight: bold;
}

dialog form header button {
  width: 30px;
  height: 28px;
  background-color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

dialog form label {
  display: block;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}

dialog form input {
  width: calc(100% - 20px);
  font-size: 14px;
}

dialog form select {
  display: block;
  height: 38px;
  width: 100%;
  font-size: 14px;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat;
  background-position: right 6px top;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

dialog#dialog-add-book form footer {
  padding-top: 10px;
  text-align: right;
}

dialog#dialog-delete-book form footer {
  padding-top: 10px;
  text-align: center;
}

.table-actions {
  padding-bottom: 20px;
  display: flex;
  justify-content: end;
}

.table-actions input {
  width: 240px;
  margin-right: 15px;
}

.btn {
  min-width: 80px;
  height: 36px;
  padding: 0 10px;
  color: white;
  background-color: #d2465b;
  border: none;
  border-radius: 4px;
}

.btn.btn-flat {
  background-color: transparent;
  color: black;
  transition: all 0.5s;
}

.btn.btn-flat:hover {
  background-color: rgb(210, 70, 91, 0.2);
}

.text-delete {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.msg-delete {
  padding: 20px 30px;
  text-align: center;
}
