html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dfdfdf;
}
nav .logo {
  font-size: 26px;
  font-weight: bold;
}
nav .user {
  font-size: 18px;
}

main {
  padding: 0 40px;
  background: #f6f9fa;
}

.table-actions {
  padding: 20px 0;
  display: flex;
  justify-content: end;
}

.text-delete {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
